<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/BFG/src/bfg/DictionaryUpdate.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="bfg.DictionaryUpdate"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="BFG"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="testrun.properties"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="BFG"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx4G -Dorg.slf4j.simpleLogger.showDateTime=true -Dorg.slf4j.simpleLogger.showLogName=false &#13;&#10;-Dorg.slf4j.simpleLogger.showShortLogName=true -Dorg.slf4j.simpleLogger.log.bfg.DictionaryUpdate=debug"/>
</launchConfiguration>
